@model List<Borrower>
@{
    ViewBag.Title = "Borrower Manager";
}
<h1>@ViewBag.Title</h1>
<a asp-controller="Borrower" asp-action="Add" class="text-light">Add A Borrower</a>
<table class="table table-dark">
    <thead>
        <tr>
            <th>Borrower Id</th>
            <th>Borrower Last Name</th>
            <th>Borrower First Name</th>
            <th>Borrower Phone Number</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var borrower in Model)
        {
        <tr>
            <td>@borrower.BorrowerId</td>
            <td>@borrower.BorrowerLname</td>
            <td>@borrower.BorrowerFname</td>
            <td>@borrower.BorrowerPhone</td>
            <td><a asp-controller="Borrower" asp-action="Edit" asp-route-id="@borrower.BorrowerId" class="btn btn-success">Edit</a></td>
            <td><a asp-controller="Borrower" asp-action="Delete" asp-route-id="@borrower.BorrowerId" class="btn btn-primary">Delete</a></td>
        </tr>
        }
    </tbody>
</table>
